# Arithmetic Operators

+ Addition
- Subraction
* Multiplication
/ Division
// Floor Division 
% Modulus
** Power

In [2]:
2+5

7

In [3]:
2.0 + 5.0

7.0

In [4]:
2 + 5.0

7.0

In [5]:
"A" + "B"

'AB'

In [6]:
["Hamza", "Junaid"] + ["Abid", "Ali"]

['Hamza', 'Junaid', 'Abid', 'Ali']

In [7]:
("Hamza", "Junaid") + ("Abid", "Ali")

('Hamza', 'Junaid', 'Abid', 'Ali')

In [8]:
{"Hamza", "Junaid"} + {"Abid", "Ali"}
#Not apply on set

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
{1:"Hamza", 2:"Junaid"} + {"Abid", "Ali"}
#Not applied on dict

TypeError: unsupported operand type(s) for +: 'dict' and 'set'

In [10]:
5 - 2

3

In [11]:
5.0 - 3.0

2.0

In [12]:
{5,6,7,8} - {5,7}

{6, 8}

In [13]:
{"A", "B", "C"} - {"B"}

{'A', 'C'}

In [14]:
2 * 4

8

In [15]:
"A" * 3

'AAA'

In [16]:
["a"] * 3

['a', 'a', 'a']

In [17]:
("u") * 2

'uu'

In [18]:
3.0 * 4.0

12.0

In [19]:
11 / 3

3.6666666666666665

In [20]:
"11" / "11"
#Not apply

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [21]:
11 // 3

3

In [22]:
11 % 3

2

In [23]:
2 ** 3

8

In [24]:
"A" ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

#  Comparison (Relational) Operators

==
>
<
>=
<=
!=

In [25]:
2 == 2

True

In [26]:
"A" == "a"

False

In [27]:
5 > 3

True

In [28]:
5 > 5

False

In [29]:
5 >= 5

True

In [30]:
"A" > "B"

False

Ascii 
A => 65 -> Z = 90
a => 97 -> z = 122
0 => 48 -> 9 = 57

In [31]:
ord("a")

97

In [32]:
chr(65)

'A'

In [33]:
3 < 4

True

In [34]:
3 <= 3

True

In [35]:
"Abdul" != "abdul"

True

# Assignmnet Operator

=
+=
-=
*=
/=
//=
**=
%=

In [37]:
a = 5
print(a)

5

In [38]:
a = 5 
a = 6 
a = 7 
print(a)

7

In [40]:
a = 1
a += 2
a += 3
a += 4 
print(a)

10

In [41]:
a = 1
a = a + 2
a = a + 3
a = a + 4
print(a)

10

In [42]:
a = 100 
a -= 5
a -= 5
a -= 10
print(a)

80

In [1]:
a = 1
a *= 2
a *= 3
print(a)

6

In [2]:
a = 100
a /= 2
a /= 2 
print(a)

25.0

In [3]:
a = 21
a %= 5
print(a)

1

In [4]:
a = 1
a **= 2
a **= 3
print(a)

1

In [5]:
a = 2
a **=2
a **=3
print(a)

64

In [6]:
a = "A"
a +="B"
print(a)

AB

In [7]:
a = [1,2,3,4]
a +=[5,6]
print(a)

[1, 2, 3, 4, 5, 6]

# Logical Operators

and &
or  |
not

In [8]:
True | False

True

In [10]:
user = input("Enter your Name: ")
passward = input("Passward")

user == "Admin" and passward == "123"

Enter your Name: Admin
Passward123

True

In [12]:
user = input("Enter your Name: ")
passward = input("Passward")

user == "Admin" or passward == "123"

Enter your Name: Abdul Wahab
Passward123

True

In [13]:
user = input("Enter your Name: ")
passward = input("Passward")

(user == "Admin") | (passward == "123")

Enter your Name: Admin
Passward12345

True

In [15]:
user = "Abdul" # Abdul, Ali, Hadi
passward = "123" #123

(user == "Abdul" or user == "Ali" or user == "Hadi") and passward =="123"

True

In [17]:
user = "Abdul" # Abdul, Ali, Hadi
passward = "123" #123

not(user == "Abdul" and passward =="123")

False

# Bitwise Operator

In [20]:
#Tip 
#11001 #Right to left
16+8+0+0+1

25

In [19]:
#1 0 1 0 1 0 1
64+0+16+4+1

85

35
#256,128,64,32,16,4,2,1
100011

and
11100
11101
-----
11100

In [21]:
28 & 29

28

In [22]:
28 ^ 29 #Xor Reverse of or

1

# Membership Operator

In [28]:
names = ["Abdul", "Wahab", "Hadi"]
i = 0
while i < len(names):
    if names[i] == "Wahab":
        print(True)
        break
    i+=1

True

In [ ]:
i=0
while i<10:
    country= input("Enter country Name : ")
    i+=1
if "Pakistan" in country:
    print(True)

# in
#not in
# "Wahab" in names

# Identity Operators

In [38]:
#"Same physical Address"
a = '5'
b = 5
c = a
print(a is b)
print(a is c)

False
True

# Control Flow

if elif else

In [6]:
name = input("Enter your name : ") 
passward = input("Enter your Passward : ")
if(name =="Abdul" or name == "Wahab") and passward =="123":
    print("Valid User!")
else:
    print("Invalid User!")

Enter your name : Abdul
Enter your Passward : 123
Valid User!